@use 'base/mixins' as m;

.no-webp .inicio{
    background-image: url('../img/header.jpg');
}

.webp .inicio{
    background-image: url('../img/header.webp');
}

.header{
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

        @include m.tablet{
            min-height: 50rem;
        }

    .contenido-header{
        @include m.tablet{
            min-height: 50rem;
        }
    }

    }

}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    h1{
        color: $blanco;
        text-align: left;
        font-weight: $bold;
        max-width: 60rem;
    }
}