.alerta{
    text-align: center;
    color: $blanco;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem;
    padding: .5rem;

    &.error{
        background-color: $rojo;
    }

    &.exito{
        background-color: $verde;
    }
}

table.propiedades{
    margin-top: 4rem;
    border-spacing: 0;
    width: 100%;

    thead{
        background-color: $verde;

        th{
            color: $blanco;
            padding: 1.5rem;
        }


    }

    .imagen-tabla{
        width: 15rem;
    }
}

.imagen-pequeña{
    width: 20rem;
    margin: 1rem;
}
