@use 'base/mixins' as m;

.contenido-nosotros{
    @include tablet{
        @include m.grid(2,2rem);
        h4{
            margin-top: 0rem;
        }
    }

    h4{
        color: $negro;
    }

    .imagen{
        max-width: 75rem;
    }
}